/*
    Created on : Oct 30, 2019, 8:46:54 PM
    Author     : The Elm Dev
*/

h1, h2 {
    font-family: Book Antiqua;
    font-style: italic;
}

h2.center {
    text-align: center;
    font-style: normal;
}

.textRow {
    padding: 0 5%;
}

/* Clear floats after the columns */
.textRow:after {
    content: "";
    display: table;
    clear: both;
}

.textCol {
    float: left;
    padding: 0 5%;
    width: 40%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .textCol {
        width: 100%;
    }
}

.imgRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.imgCol {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
}

.imgCol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .imgCol {
        flex: 32%;
        max-width: 32%;
    }
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
    .imgCol {
        flex: 48%;
        max-width: 48%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other
instead of next to each other */
@media screen and (max-width: 600px) {
    .imgCol {
        flex: 100%;
        max-width: 100%;
    }
}
