/*
    Created on : Oct 30, 2019, 8:46:54 PM
    Author     : The Elm Dev
*/

/* The box-sizing property allows us to include the padding and border in an
element's total width and height.*/
* {
    box-sizing: border-box;
}

/* Sets the background color of the site */
body {
    background-color: honeydew;
}

/* === Background image styling === */

body, html {
    height: 100%;
    margin: 0;
}

.bg-image {
    /* The image used */
    background-image: url("./centuryElmImage.png");

    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: 500% 50%;
}

div#pageContainer {
    
}

/* --- End background image styling --- */

/* Centers the text in an element */
.centerText {
    text-align: center;
}

/* Styles the contents of the entire page */
#page-container {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    padding: 10px;
    position: inherit;
    z-index: 1;
}

/* Styles the footer */
p#footer {
    font-size: 10px;
    padding: 20px;
}

/* === Home page CSS === */

p.historyParagraph {
    font-size: 18px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: auto;
    padding: 10px;
}

p#famLine {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

p#invalid {
    text-align: right;
    color: red;
    font-weight: bold;
    font-size: 22px;
}

/* --- End home page CSS --- */

/*
h1, h2 {
    font-family: Book Antiqua;
    font-style: italic;
}

h2.center {
    text-align: center;
    font-style: normal;
}

.textRow {
    padding: 0 5%;
}
*/

/* === Gallery CSS === */

/* Clear floats after the columns */
.textRow:after {
    content: "";
    display: table;
    clear: both;
}

.textCol {
    float: left;
    padding: 0 5%;
    width: 40%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .textCol {
        width: 100%;
    }
}

.imgRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.imgCol {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
}

.imgCol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .imgCol {
        flex: 32%;
        max-width: 32%;
    }
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
    .imgCol {
        flex: 48%;
        max-width: 48%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other
instead of next to each other */
@media screen and (max-width: 600px) {
    .imgCol {
        flex: 100%;
        max-width: 100%;
    }
}

/* --- End Gallery CSS --- */

/* === Header CSS === */

/* Styles the navbar in the header */
.navBar {
    overflow: hidden;
    background-color: forestgreen;
    border-radius: 5px;
}

/* Styles the navbar links */
.navBar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana;
}

/* Styles links on mouse-over */
.navBar a:hover {
    background-color: #31AF42;
    color: black;
}

/* Styles the active link */
.navBar a.active {
    background-color: #00A542;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navBar .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the
first one ("Home"). Show the link that contains should open and close the topnav
(.icon) */
@media screen and (max-width: 700px) {
    .navBar a:not(:first-child) {display: none;}
    .navBar a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user
clicks on the icon. This class makes the topnav look good on small screens
(display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
    .navBar.responsive {position: relative;}
    .navBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Styles the login container */
.navBar .login-container {
    float: right;
}

/* Styles the input field inside the navbar*/
.navBar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
    width: 150px;
}

/* Styles the button inside the login container */
.navBar .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #bbb;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navBar .login-container button:hover {
    background: #ccc;
}

img.center {
    height: 150px;
    width: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --- End Header CSS --- */
